<ul class="b-list u-block u-width-s" itemscope itemtype="http://schema.org/ItemList">
    <li class="b-list__item u-icon c-icon-chevron-right--grey" itemprop="item">
        <a class="b-list__url" href="{ url }" itemprop="url">
            <div class="b-list__body">
                <div class="b-list__title" itemprop="name">{ title }</div>
            </div>
        </a>
    </li>
</ul>

