<div class="b-tabs" role="tablist">
    <div class="b-tabs__tab" role="tab">
        <a class="b-tabs__button" href="#">HTML</a>
        <div class="b-tabs__panel" role="tabpanel">
        <pre>
            <code class="html">{% filter escape %}
{% include "_list/data/list--news.twig" %}
            {% endfilter %}
            </code>
        </pre>
        </div>
    </div>
    <div class="b-tabs__tab" role="tab">
        <a class="b-tabs__button" href="#">Another Tab</a>
        <div class="b-tabs__panel" role="tabpanel">
            <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices.
                Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus
                pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean
                fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum
                facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu
                neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit
                amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices
                sem semper a. Aliquam quis sem mi.</p>
        </div>
    </div>
    <div class="b-tabs__tab" role="tab">
        <a class="b-tabs__button" href="#">Third</a>
        <div class="b-tabs__panel" role="tabpanel">
            <p>gg</p>
        </div>
    </div>
    <div class="b-tabs__tab" role="tab">
        <a class="b-tabs__button" href="#">JSON</a>
        <div class="b-tabs__panel" role="tabpanel">
            dssd

        </div>
    </div>
</div>

