<div class="b-header-masthead js-sticky-scroll u-block-full">
    {#masthead__brand--small#}
	<div class="masthead__brand" >
		<a href="{% if site.local == true %}/{% else %}/rds-docs/{% endif %}" class="masthead__logo-link u-center-vert u-icon--l">
            {% include 'icons/mark-ravens.svg' ignore missing %}
            {#{% include 'icons/cu-shield.svg' ignore missing %}#}
            <span class="js-shave-sitename">{{ site.title }} {{ site.title }} {{ site.title }} {{ site.title }}</span>
		</a>
	</div>

	<nav>
		<ul class="masthead__nav">
			<li class="masthead__nav-item"><a href="#">Content</a></li>
			<li class="masthead__nav-item"><a href="#">Design</a></li>
			<li class="masthead__nav-item"><a href="#">Develop</a></li>
			<li class="masthead__nav-item masthead__nav-item--more"><a href="#masthead__menu" tabindex="-1">... More</a></li>
		</ul>
	</nav>

	<ul class="masthead__btns">
        {#<li class="masthead__button">#}
			{#<a class="masthead__button-link" href="#">Button</a>#}
		{#</li>#}

		<li class="masthead__button">
			<span class="masthead__button-expand">RDS</span>
			<ul class="masthead__button-submenu">
				<li><a href="#">Content</a></li>
				<li><a href="#">Design</a></li>
				<li><a href="#">Develop</a></li>
			</ul>
		</li>

		<li class="masthead__login">
			<button class="u-btn-reset">Login</button>
		</li>

		<li class="masthead__search">
			<button aria-label="Open Search" class="masthead__search-btn u-icon u-icon--xs u-btn-reset">
				{% include "icons/search.svg" %}
			</button>
		</li>
        {#masthead__hamburger--show#}
		<li class="masthead__hamburger">
            <button aria-label="Open Menu" class="c-but-hamburger c-but-hamburger--spin" type="button">
                <span class="c-but-hamburger__box">
                    <span class="c-but-hamburger__inner"></span>
                 </span>
            </button>
		</li>
	</ul>

</div>
