<div class="b-head-masthead u-block-full">
    {#<div class="c-header-logo">#}
        {#<a href="{{ site.url }}" class="c-header-logo__link u-icon--l u-center-vert">{% include "icons/ravens-shield.svg" ignore missing %}Raven Design System</a>#}
    {#</div>#}
    {#<div class="c-header-logo c-header-logo--shield">#}
        {#<a href="/" class="c-header-logo__link c-icon-shield u-center-vert">Raven Design System</a>#}
    {#</div>#}

    <div class="c-header-logo">
        <a href="/" class="logo__link u-center-vert u-icon--l">
        {% include "icons/cu-shield.svg" %} Raven Design System
        </a>
    </div>


    <nav>
        <button class="c-but-hamburger c-but-hamburger--spin j-move-menu not-active"
                type="button">
                 <span class="c-but-hamburger__box">
                   <span class="c-but-hamburger__inner"></span>
                 </span>
        </button>
    </nav>
</div>
